{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 80,
  "endOfLine": "auto",
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false
}

